.boardClass {
    background-color: #424242;
    left:0;
    right:0;
    max-width: 540px;
    width: 100vw;
    aspect-ratio: 1 / 1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
    outline: 5px solid black;
    z-index: 0;
    filter: brightness(100%);
}

#board{
    display: none;
}

#finishBoxId{
    display: none;
}

.line {
    max-height: 543px;
    height: 100vw;
    width: 4px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: 1;
}


#lineOne {
    left: 33%;
    top: 0;
}

#lineTwo {
    left: 66%;
    top: 0;
}

#lineThree {
    max-width: 543px;
    width: 100vw;
    height: 4px;
    left: 0%;
    top: 66%;
}

#lineFour {
    max-width: 543px;
    width: 100vw;
    height: 4px;
    left: 0%;
    top: 33%;
}

.finishBox {
    background-color: rgba(92, 92, 92, 0.5);
    color: rgb(196, 179, 3);
    outline: solid black 4px;
    left:0;
    right:0;
    max-width: 540px;
    width: 100vw;
    aspect-ratio: 1 / 1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    z-index: 1;
    text-align: center;
    font-size: 3ch;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#congratulationText{
    margin-top: 70px;
}

#playAnotherButton{
    background-color: #be666650;
    color: #e84c4c;
    border: solid #e84c4c 2px;
    width: 300px;
    height: 100px;
    font-size: 3ch;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    margin-top: 80px;
}

#playAnotherButton:hover {
    background-color: #fe7b7b50;
    cursor: pointer;
    color: #f38d8d;
    border: solid #f38d8d 2px;
}

#newGameDiv{
    background-color: rgba(92, 92, 92, 0.5);
    color: rgb(196, 179, 3);
    left:0;
    right:0;
    max-width: 540px;
    width: 100vw;
    aspect-ratio: 1 / 1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    z-index: 3;
    text-align: center;
    outline: 5px solid black;
}

#newGameHeading{
    background-color: #42424280;
    padding: 5px;
    padding-top: 2px;
    border-radius: 10px;
    margin-top: 50px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: 3ch;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#myRange{
    width: 400px;
    margin-top: 70px;
}

.slidecontainer {
    width: 100%;
}
  
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 400px;
      -webkit-appearance: none;
      background-color: #9a905d00;
      outline: solid #9b5d5d 2px;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #9e4545;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #9e4545;
      box-shadow: -400px 0 0 400px #9b5d5d;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #43e5f7; 
}
input[type="range"]::-moz-range-track {  
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #9a905d;
}

#hardText{
    background-color: #42424280;
    padding: 5px;
    padding-top: 2px;
    border-radius: 5px;
    position: absolute;
    left: calc(50% + 200px);
    top: calc(50% - 135px);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#easyText{
    background-color: #42424280;
    padding: 5px;
    padding-top: 2px;
    border-radius: 5px;
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 135px);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#startGameButton{
    margin-top: 100px;
    background-color: #be666650;
    color: #e84c4c;
    border: solid #e84c4c 2px;
    width: 300px;
    height: 100px;
    font-size: 3ch;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
}

#startGameButton:hover {
    background-color: #fe7b7b50;
    cursor: pointer;
    color: #f38d8d;
    border: solid #f38d8d 2px;
}

.controlButton{
    background-color: #be666650;
    color: #e84c4c;
    border: solid #e84c4c 2px;
    max-width: 150px;
    width: 25vw;
    height: 40px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    transform: translateY(-50px);
}

.controlButton:hover {
    background-color: #fe7b7b50;
    cursor: pointer;
    color: #f38d8d;
    border: solid #f38d8d 2px;
    top: 0%;
}

#revealSquareButton{
    position: absolute;
    right: 0;
}

#newGameButton{
    position: absolute;
    left: 0;    
}

#restartButton{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#timerDiv{
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(4px, 40px); 
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#pageDiv {
    width: 10000px;
    height: 100vh;
    min-height: 640px;
    background-image: linear-gradient(rgb(247, 226, 111), rgb(235, 124, 124));
    z-index: -2;
}

@media (pointer:none), (pointer:coarse){
    #pageDiv{
        width: 101vw;
    }

    #hardText{
        background-color: #42424280;
        padding: 5px;
        padding-top: 2px;
        border-radius: 5px;
        position: absolute;
        left: calc(50% + 200px);
        top: calc(50% - 135px);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    #easyText{
        background-color: #42424280;
        padding: 5px;
        padding-top: 2px;
        border-radius: 5px;
        position: absolute;
        left: calc(50% - 100px);
        top: calc(50% - 80px);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    #myRange{
        width: 2000px;
        margin-top: 70px;
    }

    .controlButton{
        background-color: #be666650;
        color: #e84c4c;
        border: solid #e84c4c 2px;
        max-width: 150px;
        width: 28vw;
        height: 40px;
        font-size: 12px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-radius: 20px;
        transform: translateY(-50px);
    }

    #startGameButton{
        margin-top: 80px;
        background-color: #be666650;
        color: #e84c4c;
        border: solid #e84c4c 2px;
        width: 200px;
        height: 80px;
        font-size: 2ch;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-radius: 20px;
    }

    #playAnotherButton{
        background-color: #be666650;
        color: #e84c4c;
        border: solid #e84c4c 2px;
        width: 200px;
        height: 80px;
        font-size: 2ch;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-radius: 20px;
        margin-top: 50px;
    }
}

body { 
    overflow-x:hidden;
}

body::-webkit-scrollbar{
    display: none;
  }