.boardClass {
    background-color: #424242;
    width: 540px;
    height: 540px;
    margin-left: calc(10vw);
    margin-top: calc(10vh);
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
    outline: 5px solid black;
    z-index: 0;
    filter: brightness(100%);
}

.line {
    height: 543px;
    width: 4px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: 1;
}


#lineOne {
    left: calc(50% - 93px);
    top: calc(50% - 270px);
}

#lineTwo {
    left: calc(50% + 89px);
    top: calc(50% - 270px);
}

#lineThree {
    transform: rotate(90deg);
    left: calc(50% - 4px);
    top: calc(50% - 181px);
}

#lineFour {
    transform: rotate(90deg);
    left: calc(50% - 2px);
    top: calc(50% - 362px);
}

.finishBox {
    background-color: rgb(92, 92, 92);
    color: rgb(196, 179, 3);
    outline: solid black 4px;
    position: absolute;
    margin-left: calc(10vw);
    margin-top: calc(10vh);
    height: 460px;
    width: 540px;
    z-index: 1;
    text-align: center;
    padding-top: 80px;
    font-size: 3ch;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#playAnotherButton{
    background-color: #9e4545;
    width: 300px;
    height: 100px;
    font-size: 3ch;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    margin-top: 80px;
}

#playAnotherButton:hover {
    background-color: #be6666;
    cursor: pointer;
}

#newGameDiv{
    background-color: rgb(92, 92, 92);
    color: rgb(196, 179, 3);
    width: 540px;
    height: 540px;
    position: absolute;
    margin-left: calc(10vw);
    margin-top: calc(10vh);
    z-index: 3;
    text-align: center;
}

#newGameHeading{
    margin-top: 50px;
    font-size: 3ch;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#myRange{
    width: 400px;
    margin-top: 70px;
}

.slidecontainer {
    width: 100%;
}
  
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 400px;
      -webkit-appearance: none;
      background-color: #9a905d00;
      outline: solid #9b5d5d 2px;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #9e4545;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #9e4545;
      box-shadow: -400px 0 0 400px #9b5d5d;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #43e5f7; 
}
input[type="range"]::-moz-range-track {  
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #9a905d;
}

#hardText{
    position: absolute;
    left: calc(50% + 200px);
    top: calc(50% - 135px);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#easyText{
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 135px);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#startGameButton{
    margin-top: 100px;
    background-color: #be666650;
    color: #e84c4c;
    border: solid #e84c4c 2px;
    width: 300px;
    height: 100px;
    font-size: 3ch;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
}

#startGameButton:hover {
    background-color: #fe7b7b50;
    cursor: pointer;
    color: #f38d8d;
    border: solid #f38d8d 2px;
}

.controlButton{
    background-color: #be666650;
    color: #e84c4c;
    border: solid #e84c4c 2px;
    width: 150px;
    height: 6vh;
    font-size: 2ch;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
}

.controlButton:hover {
    background-color: #fe7b7b50;
    cursor: pointer;
    color: #f38d8d;
    border: solid #f38d8d 2px;
}

#revealSquareButton{
    display: none;
    position: absolute;
    margin-left: calc(10vw + 390px);
    margin-top: calc(2vh);
}

#newGameButton{
    display: none;
    position: absolute;
    margin-left: calc(10vw);
    margin-top: calc(2vh);
}

#restartButton{
    display: none;
    position: absolute;
    margin-left: calc(10vw + 193px);
    margin-top: calc(2vh);
}

#timerDiv{
    display: none;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#pageDiv {
    width: calc(100vw + 100px);
    height: 100vh;
    min-height: 640px;
    background-image: linear-gradient(rgb(247, 226, 111), rgb(235, 124, 124));
    z-index: -2;
}