.squareClass {
    display: inline-block;
    color: rgb(196, 179, 3);
    outline-color: #c4b303;
    cursor: default;
}

.nonInputClass {
    background-color: #4b4b4b;
}

.inputClass{
    background-color: #7a4646;
}

.squareClass:hover {
    background-color: #8a3838;
}

.displayNumberClass {
    margin-top: 7px;
    margin-bottom: 0px;
    text-align: center;
    font-family: "Lucida Handwriting";
}

@media (pointer:none), (pointer:coarse){
    .displayNumberClass{
        font-size: 20px;
    }
}

.backgroundSquare {
    margin: 2px;
    width: 176px;
    height: 176px;
    display: inline-block;
}
