.squareClass {
    display: inline-block;
    outline-color: #006fff;
    cursor: default;
}

.squareClass:hover {
    background-color: #56a2c3;
}

.displayNumberClass {
    margin-top: 7px;
    margin-bottom: 0px;
    text-align: center;
    font-family: "Lucida Handwriting";
}

@media (pointer:none), (pointer:coarse){
    .displayNumberClass{
        font-size: 20px;
    }
}

.backgroundSquare {
    margin: 2px;
    width: 176px;
    height: 176px;
    display: inline-block;
}
