#clockDiv {
    color: rgb(196, 179, 3);
    background-color: rgb(80 80 80);
    width: 80px;
    text-align: center;
    border: 4px solid black;
    font-size: x-large;
    position: absolute;
    margin-left: calc(10vw - 4px);
    margin-top: calc(10vh + 540px);
}